#left{
   float: left ;
}

a:link{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a:active{
    text-decoration: underline;
}

a:visited{
    text-decoration: none;
}
#menu, #menu li {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu li {
    float: left;
}