<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

    <http auto-config="true">
        <intercept-url pattern="/welcome*" access="ROLE_USER" />
        <intercept-url pattern="/main/**" access="ROLE_ADMIN" />
        <intercept-url pattern="/add/**" access="ROLE_GURU" />
        <intercept-url pattern="/user/**" access="ROLE_GURU" />
        <form-login login-page="/login" default-target-url="/welcome"
                    authentication-failure-url="/loginfailed" />
        <logout logout-success-url="/logout" />
    </http>

    <authentication-manager>
        <authentication-provider>
            <password-encoder hash="sha" />
            <user-service>
                <user name="admin" password="9a52eb33f379c4ab4006cb629d24975f424d8e39" authorities="ROLE_USER,ROLE_ADMIN"/>
                <user name="user" password="d7316a3074d562269cf4302e4eed46369b523687" authorities="ROLE_USER" />
            </user-service>
        </authentication-provider>
    </authentication-manager>

</beans:beans>